h1{
  color:purple;
  font-size: 60px;
}

h1:hover{
  color:blue;
  font-size: 80px;
}
#fruit-photo{
  width: 200px;
}

.special{
  color:teal;
}

input[type="password"]{
  height: 50px;
  width:100px
}

.todo{
  font-size: 30px;
  color:olive;
}

.done{
  color:gray;
  text-decoration: line-through;
  opacity: 50%;
}